<launch>
    <arg name="gui" default="true"/>
    <param name="robot_description" command="$(find xacro)/xacro '$(find rpi_abb_irb6640_180_255_support)/urdf/workcell.xacro'" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
    <node name="rviz" pkg="rviz" type="rviz" if="$(arg gui)"
          args="-d $(find rpi_abb_irb6640_180_255_support)/config/workcell.rviz"/>
</launch>
